@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3B82F6;
  --primary-dark: #1D4ED8;
  --blue-light: #EFF6FF;

  --text-main: #111827;
  --text-secondary: #6B7280;
  --text-muted: #9CA3AF;

  --bg-surface: #F9FAFB;
  --border: #E5E7EB;

  --success: #10B981;
  --danger: #EF4444;
  --warning: #F59E0B;
}